<!DOCTYPE html>
<html>
<head>
    <title>BI:Radix</title>
    <script type="text/javascript">window.renderable = false</script>
    <link rel="icon" type="image/png" href="/images/organizations/<%=logoSmall%>">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script type="text/javascript">var version="<%=version%>"</script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="components/angular-toastr/angular-toastr.min.css" rel="stylesheet" type="text/css">

    <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0-rc.1/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0-rc.1/angular-cookies.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.14/angular-ui-router.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
    <script src="components/angular-toastr/angular-toastr.tpls.min.js"></script>
    <script src="//code.highcharts.com/highcharts.js"></script>

    <script data-main="app/main" src="libs/requirejs/require-min.js"></script>

    <style>

        .nav-bar-2 {
            margin-top: -22px
        }

        .navbar {
            border-radius: 0;
            border:0;
        }

        .fa {
            color: #1E90FF
        }

        .multi-col-list .fa {
            width:16px;
            text-align: center;
        }

        .navbar-default .navbar-nav>li>a:hover {
            background-color: #eee;
        }

        .multi-col-list li {
            margin-left:-35px;
            display: block;
            padding: 3px 3px;
            clear: both;
            font-weight: 400;
            line-height: 1.42857143;
            color: #333;
            white-space: nowrap;
        }

        .multi-col-list li a {
            text-decoration: none;
            color: #333;
        }

        .multi-col-list>li>a:hover {
            color: #262626;
            text-decoration: none;
            background-color: #f5f5f5;
        }

        .multi-col-list>li>a {
            display: block;
            padding: 3px 3px;
            clear: both;
            font-weight: 400;
            line-height: 1.42857143;
            color: #333;
            white-space: nowrap;
        }

            @media all and (min-width: 0px) and (max-width: 767px) {
                .nav-bar-2 {
                    margin-top: 0px
                }

                .nav>li {
                    float:left
                }
            }



    </style>
</head>
<body ng-controller="rootController">
    <div class="loading" style="display:block;width:50px;margin:50px auto">
        <i class="fa fa-spinner fa-spin fa-4x" style="color:#00d4b4"></i>
    </div>
    <div style="display:none" class="loggedout">
        <div class="loggedout-main">
            <div class="loggedout-container clearfix">
                <a href="#/login"><img src="/images/organizations/<%=logoBig%>"></a><br />
                <br>
                <div ui-view="loggedOutView"></div>
            </div>
        </div>
        <div class="small" style="width:50px;margin:10px auto" id="version_div">v<%=version%></div>
    </div>
    <div style="display:none" class="loggedin">
        <nav class="navbar hidden-xs">
            <div class="container-fluid">
                <div class="navbar-header" style="padding:5px 0px 10px 0px">
                    <a href="#/Dashboard"><img src="/images/organizations/<%=logoBig%>" class="logoBig"></a>

                </div>

                <div class="pull-right" style="padding:15px 15px 0px 0px">
                    Welcome {{$root.me.roles[0]}} <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="color:#333;text-decoration:none;font-weight:bold">{{$root.me.first + ' ' + $root.me.last}} <span class="caret"></span></a>
                    <div class="dropdown-menu" role="menu" style="margin:-14px 25px 0px 0px" ng-include="'/app/dashboard/userMenu.html'">

                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </nav>
        <nav class="navbar navbar-default nav-bar-2">
            <div class="container-fluid">
                <div class="navbar-header">

                    <button style="margin-left:10px" type="button" class="navbar-toggle collapsed  pull-left" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <div class="pull-left visible-xs-block" style="padding-top:10px">
                        <a href="#/Dashboard"><img src="/images/organizations/<%=logoSmall%>" class="logoSmall"></a>
                    </div>

                    <button type="button" class="navbar-toggle collapsed" data-toggle="dropdown" role="button" aria-expanded="false"
                            style="padding: 5px 10px 7px 10px;">
                        <i class="fa fa-user" style="color:#777"></i>
                        <span class="caret" style="color:#777"></span>
                    </button>
                    <div class="dropdown-menu pull-right hidden-sm" role="menu"  ng-include="'/app/dashboard/userMenu.html'">
                    </div>

                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2"
                            style="padding: 5px 15px 7px 15px;">
                        <i class="fa fa-search" style="color:#777"></i>
                    </button>

                </div>

                <div class="collapse navbar-collapsed hidden-sm" id="bs-example-navbar-collapse-2">
                    <div class="form-group has-feedback" style="margin-top:10px">
                        <input type="text" class="form-control input-sm"
                               placeholder="Search Properties"
                               ng-model="searchText">
                        <i class="fa fa-search form-control-feedback" style="color:#ccc"></i>
                    </div>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                    <li ng-class="{active: $root.nav == 'Dashboard'}"><a href="#/">Dashboard</a></li>
                    <li ng-class="{active: $root.nav == 'Properties'}" ng-show="$root.me.permissions.indexOf('Properties') > -1"><a href="#/">My Properties</a></li>
                    <li ng-class="{active: $root.nav == 'Reporting'}"><a href="#/">Reporting</a></li>
                        </ul>


                    <ul class="nav navbar-nav navbar-right  hidden-xs">
                        <form class="navbar-form navbar-left" role="search">
                            <div class="form-group has-feedback">
                                <input type="text" class="form-control input-sm"
                                       placeholder="Search Properties"
                                       ng-model="searchText">
                                <i class="fa fa-search form-control-feedback" style="color:#ccc"></i>
                            </div>
                        </form>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <!--<div style="padding-top:100px" class="hidden-xs"></div>-->
        <!--<div style="padding-top:60px" class="visible-xs-block"></div>-->
        <div ui-view="loggedInView" style="padding:10px 10px 10px 10px"></div>
        <div class="small" style="width:50px;margin:10px auto" id="version_div">v<%=version%></div>
    </div>
</body>
</html>
