<!DOCTYPE html>
<html>
<head>
    <title>BI:Radix</title>
    <script type="text/javascript">window.renderable = false</script>
    <link rel="icon" type="image/png" href="/images/organizations/<%=logoSmall%>">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script type="text/javascript">var version="<%=version%>"; var local=<%=local%>; var phantom = <%=phantom%>; var logoBig='<%=logoBig%>';</script>

    <%if (local) {%>
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/bower_components/lodash/lodash.min.js"></script>
    <script src="/bower_components/moment/min/moment.min.js"></script>
    <% } else {%>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-cookies.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.0/lodash.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
    <% }%>


    <link href="components/angular-toastr/angular-toastr.min.css" rel="stylesheet" type="text/css">
    <script src="components/angular-toastr/angular-toastr.tpls.min.js"></script>

    <script data-main="app/main" src="libs/requirejs/require-min.js"></script>
</head>
<body ng-controller="rootController" ng-click="resetTimeout()" ng-keypress="resetTimeout()">
    <div class="loading" style="display:block;width:100px;margin:50px auto">
        <img src="/images/squares.gif" style="width:100px">
    </div>
    <div style="display:none" class="loggedout">
        <div class="loggedout-main">
            <div class="loggedout-container clearfix">
                <a href="#/login"><img ng-src="/images/organizations/{{logoBig}}"></a><br />
                <br>
                <div style="display:block" class="routeContent">
                    <div ui-view="loggedOutView"></div>
                </div>
            </div>
        </div>
        <div class="small" style="width:50px;margin:10px auto" id="version_div">v{{version}}</div>
    </div>
    <div style="display:none" class="loggedin">
        <div class="visible-print-block" style="padding:10px 0px 0px 10px">
            <img src="/images/organizations/<%=logoBig%>" class="logoBig">
            <hr>
        </div>
        <nav class="navbar hidden-xs header-nav navbar-fixed-top">
            <div class="container-fluid" style="padding-top:5px">
                <div class="navbar-header" style="padding:5px 0px 10px 0px">
                    <a href="#/dashboard" class="hidden-sm"><img src="/images/organizations/<%=logoBig%>" class="logoBig" style="height:41px"></a>
                    <a href="#/dashboard" class="visible-sm"><img src="/images/organizations/<%=logoSmall%>" class="logoSmall" style="height:41px"></a>
                </div>

                <div class="pull-right" style="padding:15px 15px 0px 0px">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="color:#333;text-decoration:none;font-weight:bold">{{$root.me.first}}<span class="caret"></span></a>
                    <div class="dropdown-menu dropdown-menu-right" role="menu" style="margin:-14px 25px 0px 0px">
                        <div style="text-align: center;color:#737373;border-bottom:1px solid #ccc;padding-bottom:5px">{{$root.me.roles[0]}}</div>

                        <ul class="multi-col-list">
                            <li><a href="#/updateProfile"><i class="fa fa-user"></i> My Account</a></li>
                            <li ng-show="$root.me.permissions.indexOf('Users') > -1"><a href="#/manageusers"><i class="fa fa-users"></i> Manage Users</a></li>
                            <li ng-show="$root.me.permissions.indexOf('Properties') > -1"><a href="#/properties"><i class="fa fa-building"></i> Manage Properties</a></li>
                            <li ng-show="$root.me.permissions.indexOf('History') > -1"><a href="#/history"><i class="fa fa-history"></i> Activity History</a></li>
                            <li><a href="#/contactus"><i class="fa fa-envelope"></i> Contact Us</a></li>
                            <li><a href ng-click="logoff()"><i class="fa fa-power-off"></i> Log Off</a></li>
                        </ul>
                    </div>
                </div>


                <ul class="nav navbar-nav hidden-xs pull-right">
                    <form class="navbar-form navbar-left" role="search" style="padding-right:25px;padding-top:3px">
                        <div class="form-group has-feedback has-feedback-left search">
                            <input type="text" class="form-control input-sm"
                                   placeholder="Search Properties"
                                   typeahead="props.summary for props in getLocation($viewValue)"
                                   typeahead-on-select="searchSelected($item, $model, $label)"
                                   ng-model="search1"
                                   style="width:200px"
                                    >
                            <i class="fa fa-search form-control-feedback" style="color:#ccc;"></i>
                        </div>
                    </form>
                </ul>

                <ul class="nav navbar-nav pull-right navbar-tabs">
                    <li ng-class="{active: $root.nav == 'Dashboard'}"><a href="#/dashboard">Dashboard</a></li>
                    <li ng-class="{active: $root.nav == 'Reporting'}" style="margin-left: 5px"><a href="#/reporting">Reporting</a></li>
                </ul>

            </div><!-- /.container-fluid -->
        </nav>

        <nav class="navbar visible-xs header-nav navbar-fixed-top hidden-print" style="margin-left:0px">
            <div class="container-fluid" id="mobile-nav"  style="margin-left:0px">
                <div class="nav navbar-nav" style="padding:2px 0px 0px 10px;">
                    <a href="#/dashboard" class="hidden-sm"><img src="/images/organizations/<%=logoBig%>" class="logoBig" style="height:41px"></a>
                    <button type="button" style="padding: 5px 10px 7px 10px;margin-right:10px;margin-top:2px" class="pull-right" ng-click="toggle()">
                        <i class="fa fa-bars"></i>
                    </button>

                    <button type="button" class="pull-right" ng-click="toggleSearch()"
                            style="padding: 5px 10px 7px 10px;margin-right:10px;margin-top:2px">
                        <i class="fa fa-search"></i>
                    </button>
                </div>

            </div><!-- /.container-fluid -->
        </nav>

        <nav class="navbar header-nav navbar-fixed-top hidden-print" style="margin-top:52px;padding:20px 10px 0px 10px;display:none;z-index:1" id="searchBar">
            <div style="float:left;width:90%">
                <div class="form-group has-feedback has-feedback-left search">
                    <input type="text" class="form-control input-sm"
                           placeholder="Search Properties"
                           typeahead="props.summary for props in getLocation($viewValue)"
                           typeahead-on-select="searchSelected($item, $model, $label)"
                           ng-model="search1"
                            >
                    <i class="fa fa-search form-control-feedback" style="color:#ccc;"></i>
                </div>
            </div>
            <div style="float:right;padding:2px 0px 0px 0px">
                <A href ng-click="toggleSearch()"><i class="fa fa-close fa-2x"></i></A>
            </div>
            <br clear="all">
        </nav>

        <div id="wrapper" ng-class="{'nobig' : !sideMenu}">

            <!-- Sidebar -->
            <div id="sidebar-wrapper" ng-class="{'nobig' : !sideMenu}">
                <ul class="sidebar-nav">
                    <li class="visible-xs">
                        <a ng-class="{'active': sideNav == 'Dashboard'}" href="#/dashboard" ng-click="turnOffIfMobile()"><i class="fa fa-tachometer"></i> Dashboard</a>
                    </li>
                    <li class="visible-xs">
                        <a ng-class="{'active': sideNav == 'Reporting'}" href="#/reporting" ng-click="turnOffIfMobile()"><i class="fa fa-bar-chart"></i> Reporting</a>
                    </li>
                    <li>
                        <a href = "#/updateProfile" ng-class="{'active': sideNav == 'UpdateProfile'}" ng-click="turnOffIfMobile()"><i class="fa fa-user"></i> My Account</a>
                    </li>
                    <li>
                        <a href = "#/updateProfile" href class="subnav" ng-click="turnOffIfMobile()"> - Update Profile</a>
                    </li>
                    <li>
                        <a href = "#/updateProfile?password=1" class="subnav" ng-click="turnOffIfMobile()"> - Update Password</a>
                    </li>
                    <li ng-if="$root.me.permissions.indexOf('Users') > -1">
                        <a ng-class="{'active': sideNav == 'Users'}" href="#/manageusers" ng-click="turnOffIfMobile()"><i class="fa fa-users"></i> Manage Users</a>
                    </li>
                    <li ng-if="$root.me.permissions.indexOf('Properties') > -1">
                        <a ng-class="{'active': sideNav == 'Properties'}"  href="#/properties" ng-click="turnOffIfMobile()"><i class="fa fa-building"></i> Manage Properties</a>
                    </li>
                    <li ng-if="$root.me.permissions.indexOf('History') > -1">
                        <a ng-class="{'active': sideNav == 'History'}"  href="#/history" ng-click="turnOffIfMobile()"><i class="fa fa-history"></i> Activity History</a>
                    </li>
                    <li>
                        <a ng-class="{'active': sideNav == 'ContactUs'}" href="#/contactus" ng-click="turnOffIfMobile()"><i class="fa fa-envelope"></i> Contact Us</a>
                    </li>
                    <li>
                        <a href ng-click="logoff();turnOffIfMobile()"><i class="fa fa-power-off"></i> Log Off</a>
                    </li>
                </ul>
            </div>
            <!-- /#sidebar-wrapper -->

            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div ui-view="loggedInView">
                </div>

                <div class="small hidden-print" style="width:50px;margin:10px auto" id="version_div">v{{version}}</div>
            </div>
            <!-- /#page-content-wrapper -->

        </div>


    </div>
</body>
</html>
