<!DOCTYPE html>
<html>
<head>
    <title>BI:Radix</title>
    <script type="text/javascript">window.renderable = false</script>
    <link rel="icon" type="image/png" href="/images/organizations/<%=logoSmall%>">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script type="text/javascript">var version="<%=version%>"; var local=<%=local%></script>

    <%if (local) {%>
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <% } else {%>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <% }%>


    <link href="components/angular-toastr/angular-toastr.min.css" rel="stylesheet" type="text/css">

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0-rc.1/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0-rc.1/angular-cookies.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.14/angular-ui-router.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
    <script src="components/angular-toastr/angular-toastr.tpls.min.js"></script>

    <script data-main="app/main" src="libs/requirejs/require-min.js"></script>
</head>
<body ng-controller="rootController" ng-click="resetTimeout()" ng-keypress="resetTimeout()">
    <div class="loading" style="display:block;width:100px;margin:50px auto">
        <img src="/images/squares.gif" style="width:100px">
    </div>
    <div style="display:none" class="loggedout">
        <div class="loggedout-main">
            <div class="loggedout-container clearfix">
                <a href="#/login"><img src="/images/organizations/<%=logoBig%>"></a><br />
                <br>
                <div style="display:none;width:100px;margin:50px auto" class="routeLoading">
                    <img src="/images/squares.gif" style="width:100px">
                </div>
                <div style="display:block" class="routeContent">
                    <div ui-view="loggedOutView"></div>
                </div>
            </div>
        </div>
        <div class="small" style="width:50px;margin:10px auto" id="version_div">v<%=version%></div>
    </div>
    <div style="display:none" class="loggedin">
        <div class="visible-print-block" style="padding:10px 0px 0px 10px">
            <a href="#/dashboard"><img src="/images/organizations/<%=logoBig%>" class="logoBig"></a>
            <hr>
        </div>
        <nav class="navbar hidden-xs">
            <div class="container-fluid">
                <div class="navbar-header" style="padding:5px 0px 10px 0px">
                    <a href="#/dashboard"><img src="/images/organizations/<%=logoBig%>" class="logoBig"></a>
                </div>

                <div class="pull-right" style="padding:15px 15px 0px 0px">
                    Welcome {{$root.me.roles[0]}} <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="color:#333;text-decoration:none;font-weight:bold">{{$root.me.first + ' ' + $root.me.last}} <span class="caret"></span></a>
                    <div class="dropdown-menu dropdown-menu-right" role="menu" style="margin:-14px 25px 0px 0px" ng-include="'/app/userMenu.html'">

                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </nav>
        <br clear="all" class="hidden-print">
        <nav class="navbar navbar-default nav-bar-2 hidden-print">
            <div class="container-fluid">
                <div class="navbar-header">

                    <button style="margin-left:10px" type="button" class="navbar-toggle collapsed  pull-left" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <div class="pull-left visible-xs-block" style="padding-top:10px">
                        <a href="#/dashboard"><img src="/images/organizations/<%=logoSmall%>" class="logoSmall"></a>
                    </div>

                    <button type="button" class="navbar-toggle collapsed" data-toggle="dropdown" role="button" aria-expanded="false"
                            style="padding: 5px 10px 7px 10px;">
                        <i class="fa fa-user" style="color:#777"></i>
                        <span class="caret" style="color:#777"></span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right hidden-sm" role="menu"  ng-include="'/app/userMenu.html'">
                    </div>

                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2"
                            style="padding: 5px 15px 7px 15px;">
                        <i class="fa fa-search" style="color:#777"></i>
                    </button>

                </div>

                <div class="collapse navbar-collapsed hidden-sm hidden-md hidden-lg" id="bs-example-navbar-collapse-2">
                    <div class="form-group has-feedback search" style="margin-top:10px">
                        <input type="text" class="form-control input-sm"
                               placeholder="Search Properties"
                               typeahead="props.summary for props in getLocation($viewValue)"
                               typeahead-on-select="searchSelected($item, $model, $label)"
                               ng-model="search2"
                               >
                        <i class="fa fa-search form-control-feedback" style="color:#ccc;top:8px"></i>
                    </div>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                    <li ng-class="{active: $root.nav == 'Dashboard'}"><a href="#/dashboard">Dashboard</a></li>
                    <li ng-class="{active: $root.nav == 'Reporting'}"><a href="#/reporting">Reporting</a></li>
                        </ul>


                    <ul class="nav navbar-nav hidden-xs pull-right">
                        <form class="navbar-form navbar-left" role="search" style="padding-right:0px">
                            <div class="form-group has-feedback search">
                                <input type="text" class="form-control input-sm"
                                       placeholder="Search Properties"
                                       typeahead="props.summary for props in getLocation($viewValue)"
                                       typeahead-on-select="searchSelected($item, $model, $label)"
                                       ng-model="search1"
                                       style="width:250px"
                                       >
                                <i class="fa fa-search form-control-feedback" style="color:#ccc;top:8px"></i>
                            </div>
                        </form>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        <div style="display:none;width:100px;margin:50px auto" class="routeLoading">
            <img src="/images/squares.gif" style="width:100px">
        </div>
        <div style="display:block" class="routeContent">
            <div id="wrapper" ng-style="{'padding-left' : sideMenu.length == 0 ? '0px' : ''}">

                <!-- Sidebar -->
                <div id="sidebar-wrapper" ng-show="sideMenu.length > 0">
                    <ul class="sidebar-nav">
                        <li ng-repeat="item in sideMenu">
                            <a href="{{item.href}}" ng-class="{'active': item.active}">{{item.label}}</a>
                        </li>
                    </ul>
                </div>
                <!-- /#sidebar-wrapper -->

                <!-- Page Content -->
                <div id="page-content-wrapper">
                    <div class="container-fluid" style="padding:0px">
                        <div class="row">
                            <div class="col-lg-12">
                                <a href ng-click="toggleLeftNav()" class="btn btn-default visible-xs" id="menu-toggle"  ng-show="sideMenu.length > 0" style="position:absolute;top:0px;left:-2px"><i class="fa fa-arrow-circle-right" style="color:#888" id="sidenavHandle"></i></a>

                                <div ui-view="loggedInView"></div>

                                <div class="small hidden-print" style="width:50px;margin:10px auto" id="version_div">v<%=version%></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /#page-content-wrapper -->

            </div>
            <!-- /#wrapper -->
        </div>


    </div>
</body>
</html>
